<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>RactPanel Core System Module</name>
    <version>100</version>
    <defaultcat>other</defaultcat>
    <type>system</type>
    <desc>Core system modules for RactPanel.</desc>
    <authorname>RactPanel Project</authorname>
    <authoremail>info@ractpanel.ractbd.com</authoremail>
    <authorurl>http://ractpanel.ractbd.com/</authorurl>
    <updateurl>http://store.ractpanel.ractbd.com/version.xml</updateurl>
</module>